.App {
  text-align: center;
  margin: 0 auto;
}
.song {
  display: inline-block;
  width: 140px;
  height: 200px;
  font-size: 9px;
  cursor: pointer;
}
.song .cover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.album, .artist, .track {
  position: relative;
}

.album {
  font-weight: 500;
}

.artist {
  font-weight: 300;
}

.track {
  font-weight: 500;
  font-size: 12px;
}

.song p {
  float: left;
  margin: 4px 0;
  width: 100%;
}

.songlist {
  margin: 20px 10px;
}

.fullscreen-bg { 
  /* Full height */
  height: 100vh; 
  opacity: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player {
  margin: 0;
}

.player .audio-player {
  background-color: white;
  margin: 10% auto;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 11px 3px;
}

.search {
  display: inline-block;
}

.back:disabled,
.back[disabled] {
  opacity: 0.5;
}

.caption {
  font-size: 20px;
  margin: 25px auto;
  font-weight: 800;
}

.fullscreen-bg.loaded {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.loader {
  width: 50%;
  margin: 50vh auto;
}

.songlist .loader {
  margin: 50% auto;
}